/* import poppins font font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
  
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 124px;
    
}

.navi-blue-color{
    background-color: #11233b;
}

/* Top Banner start*/
.top-banner{
    display: flex;
    justify-content: center;
    /* background-color: #161616; */
    border-radius: 30px;
    margin-top: 50px;
}

.top-banner-detail{
    width: 531px;
}
.top-banner-detail h1{
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    
}
.top-banner-detail p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 26px;
}
.btn{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    transition: padding 0.5s ease-in-out;
}
.btn:hover{
    background-color: tomato;
    cursor: pointer;
    padding: 20px 30px;
}
.top-banner-image img{
    width: 581px;
    height: 613px;
    display: block;
}
/* Top Banner end*/

/* main section */

/* main-container-detail */
.main-container-detail{
    display: flex;
    justify-content: space-around;
}

/* options  start*/
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 312px;
    height: 312px;
    /* background-color: #161616; */
    border-radius: 10px;
}
.option-btn{
    text-decoration: none;
    color: #161616;
    font-weight: 400;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.option-red-color{
    color: #FFFFFF;
    background-color: #DD0000;
}
/* options end */

/* blog details */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    column-gap: 24px;
}
#blogs-id{
    flex-grow: 1;
    margin-left: 25px;
}
.blog{
    width: 312px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}
.blog h4{
    border: 1px solid gray;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.blog-detail{
    padding-left: 20px;
    padding-bottom: 5px;
}
.transfer-btn{
    font-size: 16px;
    color: #161616;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid gray;
    padding: 2px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.blog-detail-statistics{
    display: flex;
    color: #B9B9B9;
}
.clock{
    padding-right: 18px;
}
/* blog end */

/* upcoming matchs  start*/
.upcoming-matchs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    column-gap: 24px;
}

#upcoming-matchs-id{
    flex-grow: 1;
    margin-left: 25px;
}
.upcoming-match{
    width: 312px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.upcoming-match-detail p{
    color: #B9B9B9;
}
.flag{
    display: flex;
    justify-content: space-evenly;
}
.upcoming-match-detail{
    text-align: center;
}
/* upcoming matchs  end*/

/* View Button */
.view-btn{
    visibility: hidden;
}
#view-btn{
    padding: 12px 24px;
    font-size: 20px;
}


/* footer start*/
.footer-details{
    /* background-color: #161616; */
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;

}
.footer-details h2{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
}
.footer-container{
    width: 90%;
    
}

.footer-manu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-manu p{
    color: #B9B9B9;
    margin: 0 30px;
}
.social-media{
    padding-top: 2%;
    padding-bottom: 5%;
}
.social-media a{
    color: #FFFFFF;
    font-size: 40px;
}
/* footer end */

/* Mobile Device */
@media screen and (max-width: 767px) {
    .container{
         max-width: 334px;
         margin-bottom: 24px;
     }
     /* top banner start */
     .top-banner{
         flex-direction: column;
         align-items: center;
         width: 334px;
         border-radius: 10px;
     }
     .top-banner-detail{
         width: 258px;
         text-align: center;
         display: flex;
         flex-direction: column;
     }
     .top-banner-detail p{
        font-size: 14px;
        line-height: 24px;
     }
     .top-banner-detail h1{
         font-size: 22px;
         font-weight: 700;
         color: #FFFFFF;
         line-height: 33px;
         
     }
     .btn{
         font-size: 20px;
         font-weight: 400;
         background-color:#DD0000;
     }
     .top-banner-image img{
         width: 233px;
         height: 245px;
         padding-top: 21px;
     }
     /* top banner end */

     /* main container start */
     .main-container-detail{
         flex-direction: column;
         align-items: center;
     }
     .options{
         background-color: white;
     }
     .option-btn{
         border: 1px solid gray;
     }
 
     .blogs{
         grid-template-columns: repeat(1,1fr);
         row-gap: 24px;
         column-gap: 24px;
     }
     #blogs-id{
        margin: 0 auto;
     }
 
     .upcoming-matchs{
         grid-template-columns: repeat(1,1fr);
         row-gap: 24px;
         column-gap: 24px;
     }
     #upcoming-matchs-id{
        margin: 0 auto;
     }
     /* main container end */
 
     /* footer start */
     .footer-manu{
         flex-direction: column;
     }
     /* footer end */
 }


/* tablet devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        max-width: 734px;
    }
    /* top banner start */
    .top-banner{
        width: 734px;
        justify-content: space-around;
    }
    .top-banner-detail{
        width: 313px;
        padding-left: 60px;
    }
    .top-banner-detail h1{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 50px;
    }
    .top-banner-detail p{
        font-size: 14px;
        line-height: 24px;
    }
    .top-banner-image{
        padding-top: 58px;
    }
    .top-banner-image img{
        width: 323px;
        height: 340px;
    }
    .btn{
        font-size: 14px;
        padding: 12px;
        margin-bottom: 15%;
    }
    /* top banner end */

    /* Main container */
    .main-container-detail{
        flex-direction: column;
        margin-bottom: 5%;
    }
    /* options start */
    .options{
        flex-direction: row;
        width: 100%;
        height: 64px;
        margin-bottom: 30px;
        background-color: #FFFFFF;
        
    }
    .option-btn{
        font-size: 18px;
        width: 210px;
        border-radius: 10px;
        border: 1px solid #B9B9B9;
    }
    /* options end */

    /* blog start */
    .blogs{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    #blogs-id{
        margin: 0 auto;
     }
    /* blog end */

    /* Upcoming Matchs start*/
    .upcoming-matchs{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    #upcoming-matchs-id{
        margin: 0 auto;
     }
    /* upcoming match end */

    /* View Button start*/
   .view-btn{
        visibility: visible;
        text-align: center;
    }
    /* view button end */
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1250px) {
    .container{
        max-width: 950px;
    }
    .top-banner{
        /* width: 900px; */
        justify-content: space-around;
    }
    .top-banner-detail{
        width: 313px;
        padding-left: 60px;
    }
    .top-banner-detail h1{
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 50px;
    }
    .top-banner-detail p{
        font-size: 14px;
    }
    .top-banner-image{
        padding-top: 58px;
    }
    .top-banner-image img{
        width: 323px;
        height: 340px;
    }
    .btn{
        font-size: 14px;
        padding: 12px;
        margin-bottom: 15%;
    }
    .main-container-detail{
        
    }
    .options{  
        max-width: 200px;
        max-height: 200px; 
    } 
    .option-btn{
        font-size: 15px;
        /* margin-bottom: -23px; */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blogs{
        /* display: none; */
    }
    .blog{
        max-width: 200px;
    }
    .blog-detail h3{
        font-size: 15px;
    }
    .blog-thumbnail img{
        max-width: 200px;
    }

    .upcoming-match{
        max-width: 200px;
    }
    .upcoming-match-detail h3{
        font-size: 15px;
    }
    .upcoming-match-detail p{
        font-size: 14px;
    }
    .flag img{
        width: 60px;
        height: 40px;
    }
    
}

